.table-box{
    margin: 0% auto;
    width: 90%;
    height: 600px;
    overflow-y: scroll;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.5);
    margin-top: 1%;
    background-color: white;

}
table{
    width: 100%;
}
table, th, td{
    text-align: center;
    padding: 10px;
}
tbody{
    background-color: whitesmoke;
}
th{
    top: 0%;
    background: rgb(189, 59, 42);
    color:white;
    font-size:10px;
    padding:10px;
    margin: 0% auto;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
tbody:nth-child(even){
    background: rgba(17, 17, 17, 0.2);
}
.search{
        height: 6vmin;
        width:30%;
        font-size:3mm;
        border-radius:6px;
        margin-top:1%;
        margin-left:5vmax;
}
